.fullPost {
  background-color: #fff;
  padding: 40px 0;
  border-radius: 0 0 10px 10px;
  @media (max-width: 750px) {
    & {
      border-radius: 0;
    }
  }
  .newBlockContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    @media (max-width: 750px) {
      & {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .subtitle {
      line-height: 150%;
      font-size: 17px;
      margin-bottom: 10px;
    }
    .metrics {
      font-weight: 500;
      color: rgb(79, 79, 79);
      display: flex;
      align-items: center;
      column-gap: 20px;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;
      .viewsCount {
        font-weight: 400;
        font-size: 15px;
      }
      .metricsLeft {
        display: flex;
        align-items: center;
        column-gap: 30px;
        div:first-child button svg {
          fill: #4683d9;
        }
        div:first-child span {
          color: #4683d9;
          font-weight: 700;
        }
        div:nth-child(2) button svg {
          fill: #4683d9;
        }
      }
    }
    .who {
      font-size: 15px;
      color: rgb(98, 98, 98);
      margin-bottom: 20px;
      display: inline-block;
    }
    .textBlock {
      margin-bottom: 20px;
      p {
        line-height: 150%;
        font-size: 17px;
      }
    }
    .metricsBlock {
      display: flex;
      align-items: center;
      column-gap: 25px;
      margin-bottom: 30px;
      @media (max-width: 750px) {
        & {
          justify-content: space-between;
        }
      }
      div:first-child button svg {
        fill: #4683d9;
      }
      div:first-child span {
        color: #4683d9;
        font-weight: 700;
      }
    }
    .thisAuthorBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
      @media (max-width: 750px) {
        & {
          flex-direction: column;
          row-gap: 15px;
          width: 100%;
        }
      }
      .aboutBlock {
        display: flex;
        align-items: center;
        column-gap: 10px;
        white-space: nowrap;
        @media (max-width: 750px) {
          & {
            align-self: flex-start;
          }
        }
        .avatarPlusName {
          display: flex;
          align-items: center;

          cursor: pointer;
          column-gap: 10px;
          h2 {
            font-weight: 500;
            font-size: 17px;
          }
        }

        span:nth-child(2) {
          font-weight: 500;
          font-size: 17px;
          color: rgb(0, 187, 0);
          letter-spacing: -1px;
        }
        .avatarBlock {
          width: 40px;
          height: 40px;
          background-color: rgb(222, 222, 222);
          border-radius: 50%;
          overflow: hidden;
        }
      }
      .btnBlock {
        display: flex;
        column-gap: 10px;
        @media (max-width: 750px) {
          & {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            svg {
              transform: scale(0.8);
            }
          }
        }
        @media (max-width: 390px) {
          & svg {
            display: none;
          }
        }
        .btnSend span {
          display: none;
          @media (max-width: 750px) {
            & {
              display: unset;
            }
          }
        }
        & button {
          text-transform: unset;
          color: black;
          box-shadow: 0 1px 3px rgb(201, 201, 201);
          padding: 10px 15px;
          display: flex;
          column-gap: 10px;
          align-items: center;
          @media (max-width: 750px) {
            & {
              display: grid;
              grid-template-columns: auto 1fr;
              padding: 8px 15px;
            }
          }
          @media (max-width: 390px) {
            & {
              grid-template-columns: 1fr;
            }
          }
        }
        & button:last-child {
          background-color: #4683d9;
          color: white;
        }
        & button:first-child {
          background-color: #ffffff;
          color: black;
        }
      }
    }
  }
}

.imgBlock {
  margin-bottom: 20px;
}
